
# Project dependencies
# pip install -r requirements.txt


streamlit
beautifulsoup4 
tqdm 
requests 

accelerate

#pillow
#pytesseract 
pdf2image
pypdf2
pypdf
pycryptodome
openpyxl
docx2txt
extract-msg

torch

elasticsearch
sentence_transformers 
huggingface-hub 

langchain
langchain_anthropic 
langchain_community
langchain_huggingface
langchain_google_genai
langchain-openai
langchain-elasticsearch

tensorflow # ==2.16
tf-keras

pandas # ==2.2.2

# from langserve
langchain 
langserve 
tiktoken 
openai 
fastapi 
uvicorn 
pytest 
pytest-asyncio 
mypy
ruff
black
syrupy 
sse_starlette

## Older dependencies - remove after refactor code
sydney-py


## Older dependencies - remove
# textract==1.6.1 # removed due to conflicts and will not work on windwos
# Additional Textract install info : https://textract.readthedocs.io/en/stable/
#configargparse
#eland 
