# Additional Textract install info : https://textract.readthedocs.io/en/stable/

# pip install -r requirements.txt
streamlit
beautifulsoup4 
tqdm 
requests 

accelerate

pytesseract 
pdf2image
pypdf2
pypdf
pycryptodome
openpyxl
docx2txt
extract-msg

torch

eland 
elasticsearch
sentence_transformers 
huggingface-hub 

langchain-community ##==0.2.1 
langchain-core ##==0.2.1
langchain-elasticsearch
langchain-google-genai
langchain_google_vertexai
langchain-openai
langchain-anthropic
sydney-py

tensorflow
pillow
#configargparse
pandas



